<ion-header>
  <ion-toolbar>
    <ion-title>Raspi BLE</ion-title>
    <ion-buttons *ngIf="!deviceConnected?.deviceId" slot="end" (click)="scanDevices(modalScanDevices)">
      <ion-button mode="ios">+ Add Device</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="connectedDevices.length > 0; else noDevicesConnected">
    <ion-card *ngFor="let device of connectedDevices" mode="ios" class="ion-padding">
      <div class="device-connected">
        <div class="content">
          <div class="label"><small>Device Name</small></div>
          <h4 class="ion-no-margin">
            <ion-text color="primary"><b>{{device.name}}</b></ion-text>
          </h4>
        </div>
        <ion-button color="danger" class="button-disconnect" (click)="disconnectDevice(device.deviceId)">
          <ion-icon slot="icon-only" name="power-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card>
  </div>
  <ng-template #noDevicesConnected>
    <ion-card mode="ios" class="ion-padding">
      <div class="ion-text-center">No Device Connected</div>
    </ion-card>
  </ng-template>

  
  <!-- <ion-card *ngIf="deviceConnected" mode="ios" class="ion-padding data">
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col style="font-size: 42pt;"><b>{{dataTemp}}</b></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button fill="outline" (click)="requestUpdateTempData()">Update</ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="outline" (click)="requestChangeUnitData()">Change to {{dataUnit === 'F'? 'Celcius' : 'Fahrenheit'}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->
  
</ion-content>